* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #313866;
  color: #fe7be5;
  text-shadow: 0 0 2.5px #fe7be5;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  display: inline-block;
  position: relative;
}

.name {
  position: absolute;
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-align: center;
  z-index: 1;
}

header {
  position: relative;
  margin-top: 2rem;
}

.pfp {
  filter: drop-shadow(0 0 0.5rem #504099);
  border-radius: 2px;
}

@media (min-width: 1200px) {
  .pfp {
    min-width: 300px;
  }
  header {
    display: flex;
    align-items: center;
  }
  .name {
    bottom: 8px;
    transform: translateX(-50%);
    left: 50%;
    white-space: nowrap;
  }
  .about {
    max-width: 600px;
    display: inline-block;

    margin-bottom: 1rem;
    padding: 2rem 4rem;
    box-shadow: 5px 5px 5px black;
  }
  .about-me {
    margin-bottom: 1rem;
  }
}

@media (min-width: 500px) and (max-width: 1199px) {
  .name {
    left: 85%;
    white-space: nowrap;
  }
  .img-container {
    float: left;
    margin-right: 2rem;
  }
  .about {
    display: block;
    margin-top: 7.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .about-me {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 499px) {
  .name {
    bottom: 8px;
    transform: translateX(-50%);
    left: 50%;
    white-space: nowrap;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me {
    align-self: center;
    margin-bottom: 2rem;
  }
  picture img {
    max-width: 100%;
  }
}

h2 {
  color: #974ec3;
  text-shadow: 0 0 5px #974ec3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  gap: 1rem;
  justify-content: center;
}

.card {
  box-shadow: 1px 1px 3px black;
}

.project-img {
  width: 100%;
  height: 150px;
  background-color: blue;
}

a {
  all: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-work {
  align-self: center;
  margin: 1rem;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.project-title {
  display: flex;
  justify-content: space-between;
}

.description {
  max-width: 100%;
}

main {
  width: 95vw;
  display: flex;
  flex-direction: column;
}

.about {
  margin-bottom: 2rem;
}

footer {
  margin-top: 1rem;
  display: flex;
  background-color: #504099;
  width: 100%;
  gap: 2rem;
  justify-content: space-around;
  padding: 1rem;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}
